html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{clear: both;}
@font-face {
    font-family: "Trajan Pro Bold";
    src: url("/font/TrajanProBold.ttf");
}
@font-face {
    font-family: "Trajan Pro Regular";
    src: url("/font/TrajanProRegular.ttf");
}
@font-face {
    font-family: "Garamond";
    src: url("/font/Garamond.ttf");
}
@font-face {
    font-family: "Snell Roundhand";
    src: url("/font/Snell Roundhand.ttf");
}
@font-face {
    font-family: "SourceCodeProBold";
    src: url("/font/SourceCodeProBold.ttf");
}
@font-face {
    font-family: "SourceCodeProRegular";
    src: url("/font/SourceCodeProRegular.ttf")
}
@font-face {
    font-family: "Baskerville";
    src: url("/font/baskvl.ttf");
}

/* sign box*/
#sign-box{
    width: 680px;
    height: 500px;
    font-family: "Trajan Pro Regular";
    display: none;
    position: absolute;
    box-shadow: 0px 0px 20px #222;
}
#sign-switch-panel{
    background-color: #eae2d3;
    height: 70px;
}
#sign-in{
    float: left;
    font-family: "Trajan Pro Bold";
    font-size: 22px;
    line-height: 70px;
    margin-left: 50px;
    position: relative;
    top: 2px;
}
#sign-line{
    float: left;
    line-height: 70px;
    font-size: 22px;
    margin-left: 15px;
}
#sign-up{
    float: left;
    color: #d1a867;
    font-size: 20px;
    line-height: 70px;
    margin-left: 15px;
    position: relative;
    top: 2px;
    cursor: pointer;
}
#sign-form{
    background-color: #f5f5f5;
    height: 430px;
    position: relative;

}
#sign-info{
    height: 330px;
    overflow: hidden;
}
#sign-up-entries{
    float: left;
    margin-left: 70px;
    margin-top: 70px;
    font-family: "Trajan Pro Bold";
    display: none;
}
#sign-up-entries div{
    margin-bottom: 70px;
}
#sign-up-inputs{
    float: left;
    margin-left: 35px;
    margin-top: 53px;
    display: none;
}
#sign-up-inputs input{
    display: block;
    height: 35px;
    width: 280px;
    margin-bottom: 45px;
    font-size: 20px;
    fant-family: "Trajan Pro Regular";
}
#sign-in-entries{
    float: left;
    margin-left: 70px;
    margin-top: 120px;
    font-family: "Trajan Pro Bold";
}
#sign-in-entries div{
    font-size: 20px;
    margin-bottom: 90px;
}
#sign-in-inputs{
    float: left;
    margin-left:35px;
    margin-top: 95px;
}
#sign-in-inputs input{
    display: block;
    height: 45px;
    width: 280px;
    margin-bottom: 68px;
    font-size: 20px;
    fant-family: "Trajan Pro Regular";
}
#sign-submit{
    width: 180px;
    height: 50px;
    color: #d1a867;
    background-color: #eae2d3;
    margin: auto;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    cursor: pointer;
}
.sign-alert{
    text-align:center;
    position:relative;
    bottom: 88px;
    display: none;
}
#toppanel{
    position: absolute;
    top: 12px;
    right:10px;
    color: white;
    font-family: "Trajan Pro Regular";
    color: #d5c595;
    text-transform: capitalize;
    font-size: 14px;
}

/* toppanel */
#sign, #username, #logout, #cart{
    cursor: pointer;
    margin-right: 10px;
}
#logout, #username{
    display: none;
}


