html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{clear: both;}
@font-face {
    font-family: "Trajan Pro Bold";
    src: url("/font/TrajanProBold.ttf");
}
@font-face {
    font-family: "Trajan Pro Regular";
    src: url("/font/TrajanProRegular.ttf");
}
@font-face {
    font-family: "Garamond";
    src: url("/font/Garamond.ttf");
}
@font-face {
    font-family: "Snell Roundhand";
    src: url("/font/Snell Roundhand.ttf");
}
@font-face {
    font-family: "SourceCodeProBold";
    src: url("/font/SourceCodeProBold.ttf");
}
@font-face {
    font-family: "SourceCodeProRegular";
    src: url("/font/SourceCodeProRegular.ttf")
}
@font-face {
    font-family: "Baskerville";
    src: url("/font/baskvl.ttf");
}

/* sign box*/
#sign-box{
    width: 680px;
    height: 500px;
    font-family: "Trajan Pro Regular";
    display: none;
    position: absolute;
    box-shadow: 0px 0px 20px white;
    opacity: 0.95;
}
#sign-switch-panel{
    background-color: #eae2d3;
    height: 70px;
}
#sign-in{
    float: left;
    font-family: "Trajan Pro Bold";
    font-size: 22px;
    line-height: 70px;
    margin-left: 50px;
    position: relative;
    top: 2px;
}
#sign-line{
    float: left;
    line-height: 70px;
    font-size: 22px;
    margin-left: 15px;
}
#sign-up{
    float: left;
    color: #d1a867;
    font-size: 20px;
    line-height: 70px;
    margin-left: 15px;
    position: relative;
    top: 2px;
    cursor: pointer;
}
#sign-form{
    background-color: #f5f5f5;
    height: 430px;
    position: relative;

}
#sign-info{
    height: 330px;
    overflow: hidden;
}
#sign-up-entries{
    float: left;
    margin-left: 70px;
    margin-top: 70px;
    font-family: "Trajan Pro Bold";
    display: none;
}
#sign-up-entries div{
    margin-bottom: 70px;
}
#sign-up-inputs{
    float: left;
    margin-left: 35px;
    margin-top: 53px;
    display: none;
}
#sign-up-inputs input{
    display: block;
    height: 35px;
    width: 280px;
    margin-bottom: 45px;
    font-size: 20px;
    fant-family: "Trajan Pro Regular";
}
#sign-in-entries{
    float: left;
    margin-left: 70px;
    margin-top: 120px;
    font-family: "Trajan Pro Bold";
}
#sign-in-entries div{
    font-size: 20px;
    margin-bottom: 90px;
}
#sign-in-inputs{
    float: left;
    margin-left:35px;
    margin-top: 95px;
}
#sign-in-inputs input{
    display: block;
    height: 45px;
    width: 280px;
    margin-bottom: 68px;
    font-size: 20px;
    fant-family: "Trajan Pro Regular";
}
#sign-submit{
    width: 180px;
    height: 50px;
    color: #d1a867;
    background-color: #eae2d3;
    margin: auto;
    text-align: center;
    line-height: 56px;
    font-size: 22px;
    cursor: pointer;
}
.sign-alert{
    text-align:center;
    position:relative;
    bottom: 88px;
    display: none;
}
#toppanel{
    position: absolute;
    top: 12px;
    right:10px;
    font-family: "Trajan Pro Regular";
    color: #d5c595;
    text-transform: capitalize;
    font-size: 14px;
}
#username{
    position: absolute;
    top: 12px;
    left: 10px;
    color: #d5c595;
    font-family: "Garamond";
    font-size: 16px;
}

/* toppanel */
#sign, #logout, #cart{
    cursor: pointer;
    margin-right: 10px;
}
#sign, #logout{
    display: none;
}

/*closepic*/
.closepic{
    position: absolute;
    top:0px;
    right:0px;
    height:20px;
    width: 20px;
    cursor: pointer;
    opacity: 0.7;
}

/*cart-popup*/
#cart-popup{
    width:800px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 20px #222;
}
#order-title{
    margin: 25px auto 15px auto;
    text-align: center;
    color: #d1a867;
    font-family: "Trajan Pro Regular";
    font-size: 20px;
}
#cart-line{
    width: 700px;
    height: 2px;
    background-color: #b6b6b6;
    margin: auto;
}
#order-list{
    min-height: 60px;
    width: 700px;
    margin: 20px auto 20px auto;
}
#ship{
    width: 700px;
    margin: 30px auto 30px auto;
}
#ship-info{
    float: left;
}
#ship-info li{
    color:#020202;
    text-align: right;
    margin-bottom: 16px;
}
#ship-inputs{
    float: left;
    position: relative;
    bottom: 5px;
    margin-left: 20px;
}
#ship-inputs input{
    display: block;
    width: 200px;
    height: 18px;
    margin-bottom: 8px;
}
#order-submit{
    border: 2px solid #b6b6b6;
    cursor: pointer;
    float: right;
    margin-right: 80px;
    margin-top: 60px;
    line-height: 50px;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    color: #888;
}
#order-submit:hover{
    background-color: #b6b6b6;
    color: white;
}
#order-response{
    color: #d1a867;
    float: right;
    font-size: 20px;
    position: relative;
    margin-top: 10px;
    right: 71px;/*#### what if float not exceed*/
    display: none;
}
.cartQty, .cartPrice{
    margin-left: 20px;
}
#order-list li{
    margin-bottom: 10px;
}