/*@media screen and (min-width: 500px){*/
    /* homepage */
    body{
        width: auto;
        min-width: 1100px;
    }
    #selector{
        position: fixed;
        right: 2%;
        top: 45%;
        z-index: 100;
    }
    #selector div{
        width: 16px;
        height: 16px;
        margin-bottom: 32px;
        opacity: 0.5;
        cursor: pointer;
        border-radius: 8px;
        background-color: #d5c295;
    }

    #home1{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url("/image/home1.jpg") top center no-repeat;
    }
    /*
    #home1 .navwrap{
        position: relative;
        top: 43px;
        width: 100%;
    }
    #home1 .nav{
        width: 73.5%;
        margin: auto;
    }
    */
    #home1 .nav{
        position: relative;
        top: 6%;
        width: 73.5%;
        margin: auto;
    }
    #home1 .nav li a{
        font-family: "Trajan Pro Bold";
        font-size: 14px;
        color: #d5c595;
        cursor: pointer;
        text-decoration: none;
    }
    #home1 .nav li a:hover{
        color: #fff;
    }
    #home1 .nav2{
        position: relative;
        right: 2%;
        width: 38%;
        margin: auto;
    }
    #home1 .nav .leftli{
        float: left;
    }
    #home1 .nav .rightli{
        float: right;
    }
    /*
    #home1 .introwrap{
        position: relative;
        top: 373px;
        width: 100%;
        height: 30%;
    }
    #home1 .intro{
        width: 73.5%;
        height: 100%;
        margin: auto;
    }
    */
    #home1 .intro{
        position: relative;
        top: 52%;
        width: 73.5%;
        height: 30%;
        margin: auto;
    }
    #home1 .intro .titlebox{
        text-align: center;
    }
    #home1 .intro .titlebox2{
        display: inline-block;
    }
    #home1 .intro .subtitle{
        float: right;
        position: relative;
        right: 3px;
        font-family: "Trajan Pro Regular";
        font-size: 14px;
        letter-spacing: 2px;
        color: #d5c595;
    }
    #home1 .intro .title{
        margin-top: 16px;
        font-family: "Trajan Pro Bold";
        font-size: 48px;
        letter-spacing: 2px;
        color: #d5c595;
    }
    #home1 .intro .line{
        position: relative;
        top: 6%;
        width: auto;
        height: 36px;
        background: url("/image/line.png") center no-repeat;
    }
    #home1 .intro .introtext{
        position: relative;
        top: 12%;
        width: 56%;
        margin: auto;
        text-align: center;
        line-height: 120%;
        font-family: "Garamond";
        font-size: 16px;
        letter-spacing: 2px;
        color: #d5c595;
    }


    #home2{
        width: 100%;
        height: 600px;
        display: table;
    }
    #home2 .wrap{
        display: table-cell;
        vertical-align: middle;
    }
    #home2 .wrap2
    {
        width: 1080px;
        margin: auto;
    }
    #home2 .leftwrap{
        float: left;
        width: 600px;
    }
    #home2 .img{
        float: right;
        margin-top: 25px;
    }
    #home2 .title{
        font-family: "Snell Roundhand";
        font-size: 112px;
        color: #d1a867;
        text-align: center;
    }
    #home2 .subtitle{
        font-family: "SourceCodeProBold";
        font-size: 42px;
        letter-spacing: 6px;
        color: #000;
        text-align: center;
    }
    #home2 .asterisk{
        margin-top: 10px;
        text-align: center;
        font-family: "Baskerville";
        font-weight: Bold;
        font-size: 28px;
        color: #b6b6b6;
    }
    #home2 .introtext{
        margin-top: 10px;
        text-align: center;
        font-family: "Garamond";
        line-height: 120%;
        font-size: 16px;
        letter-spacing: 2px;
    }
    #home2 .about{
        width: 100px;
        margin :30px auto 0 auto;
        text-align: center;
        color: #d1a867;
        font-family: "Garamond";
        font-size: 24px;
        letter-spacing: 1px;
        border-bottom: 2px solid #d1a867;
    }


    #home3{
        width: 100%;
        height: 700px;
        display: table;
        background: url("/image/home3.png") center bottom;
    }
    #home3 .wrap{
        display: table-cell;
        vertical-align: middle;
    }
    #home3 .title{
        font-family: "Snell Roundhand";
        font-size: 112px;
        color: #d1a867;
        text-align: center;
    }
    #home3 .subtitle{
        margin-top: 16px;
        font-family: "SourceCodeProBold";
        font-size: 42px;
        letter-spacing: 6px;
        color: #fff;
        text-align: center;
    }
    #home3 .asterisk{
        margin-top: 24px;
        text-align: center;
        font-family: "Baskerville";
        font-weight: Bold;
        font-size: 28px;
        color: #d1a867;
    }
    #home3 .categories{
        margin-top: 24px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    #home3 .categories li{
        display: inline;
        margin-left: 12px;
        color: #fff;
    }
    #home3 .categories li a{
        font-family: "Garamond";
        font-size: 16px;
        letter-spacing: 2px;
        color: #fff;
        cursor: pointer;
    }
    #home3 .products{
        width: 100px;
        border-bottom: 2px solid #fff;
        margin: 30px auto 0 auto;
        text-align: center;
        color: #fff;
        font-family: "Garamond";
        font-size: 24px;
        letter-spacing: 1px;
    }
    #home3 .products a{
        color: #fff;
        text-decoration: none;
    }

    #home4{
        width: 100%;
        height: 420px;
        display: table;
    }

    #home4 .wrap{
        display: table-cell;
        vertical-align: middle;
    }
    #home4 .contact{
        text-align: center;
        color: #000;
        font-family: "Trajan Pro Bold";
        font-size: 28px;
    }
    #home4 .asterisk{
        margin-top: 24px;
        text-align: center;
        font-family: "Baskerville";
        font-weight: Bold;
        font-size: 28px;
        color: #d1a867;
    }
    #home4 .contactinfo1{
        width: 600px;
        margin: auto;
    }
    #home4 .contactinfo1 li{
        text-align: center;
        font-family: "Garamond";
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 120%;
    }
    #home4 .email{
        margin-top: 50px;
        color: #d1a867;
        font-size: 16px;
        text-align: center;
    }
    #home4 .email input{
        margin-left: 5px;
        margin-right: 24px;
        width: 192px;
    }
    #home4 .contactinfo2 {
        margin-top: 50px;
    }
    #home4 .contactinfo2 pre{
        text-align: center;
        color: #000;
        font-family: "Garamond";
        font-weight: bold;
        font-size: 16px;
    }
/*}*/

