<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Error</title>
	<link rel="stylesheet" href=""/>
</head>
<body>

	<div class = "deny_info">
		<img src="">
		<div class="deny_link">
			<a href="/home">Home</a>
			<a id="login">Login</a>
		</div>
	</div>

	
<script type="text/javascript" src=""></script>
</body>

</html>