<!DOCTYPE html>
<!-- saved from url=(0062)http://infosense.cs.georgetown.edu/shawn/Nic_website/home.html -->
<html><head lang="en"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importadora Bacco</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/js/jquery-1.11.2.min.js"></script><style type="text/css"></style>
    <script src="/js/jquery.smooth-scroll.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/general.js"></script>
<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>
<body data-feedly-mini="yes">
    <div id="selector">
        <div id="s1" style="opacity: 1; background-color: rgb(209, 168, 103);"></div>
        <div id="s2"></div>
        <div id="s3"></div>
        <div id="s4"></div>
    </div>
    <div id="home1" style="height: 975px; background-position: 50% -121.9px;">
        <div id="username"></div>
        <div id="toppanel"><span id="sign">log in</span> <span id="logout">log out</span></span> <span id="cart">cart</span></div>
        <script>
            cookieCheck();
        </script>
        <ul class="nav">
            <li class="leftli"><a>HOME</a></li>
            <li class="rightli"><a>CONTACT US</a></li>
            <ul class="nav2">
                <li class="leftli"><a href="/product?catId=0">PRODUCTS</a></li>
                <li class="rightli"><a>ABOUT</a></li>
            </ul>
            <li class="clear"></li>
        </ul>

        <div class="intro">
            <div class="titlebox">
                <div class="titlebox2">
                    <div class="subtitle">PRODOTTI ITALIANI</div>
                    <div class="clear"></div>
                    <div class="title">IMPORTADORA BACCO</div>
                </div>
            </div>
            <div class="line"></div>
            <div class="introtext">We aim to select high quality, entirely made in Italy food &amp; beverage products, at competitive prices, by creating and maintaining business relationships with several highly selected Italian producers already established in the Italian market, who share our passion in providing first class service and products in Italy and Panama</div>
        </div>
    </div>
    <div id="home2">
        <div class="wrap">
            <div class="wrap2">
            <div class="leftwrap">
                <div class="title">Discover</div>
                <div class="subtitle">OUR STORY</div>
                <div class="asterisk">*</div>
                <div class="introtext">We aim to select high quality, entirely made in Italy food &amp; beverage products, at competitive prices, by creating and maintaining business relationships with several highly selected Italian producers already established in the Italian market</div>
                <div class="about">About Us</div>
            </div>
            <img class="img" src="/image/home2.jpg" style="height: 337px; width: 452.348993288591px;">
            <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="home3">
        <div class="wrap">
            <div class="wrap2">
            <div class="title">Perfect</div>
            <div class="subtitle">WINE &amp; FOOD</div>
            <div class="asterisk">*</div>
            <ul class="categories">
                <li data-catId="1"><a>Olio di Semi</a></li>
                <li>*</li>
                <li data-catId="2"><a>Formaggi</a></li>
                <li>*</li>
                <li data-catId="3"><a>Pomodori</a></li>
                <li>*</li>
                <li data-catId="4"><a>Specialita</a></li>
                <li>*</li>
                <li data-catId="5"><a>Aceti</a></li>
                <li>*</li>
                <li data-catId="6"><a>Olio di Oliva</a></li>
                <li>*</li>
                <li data-catId="7"><a>Pasta</a></li>
                <li>*</li>
                <li data-catId="8"><a>Vino Bianco</a></li>
                <li>*</li>
                <li data-catId="9"><a>Vino Rosso</a></li>
                <div class="clear"></div>
            </ul>
            <div class="products"><a href="/product?catId=0">Products</a></div>
            </div>
        </div>
    </div>
    <div id="home4">
        <div class="wrap">
            <div class="wrap2">
            <div class="contact">CONTACT US</div>
            <div class="asterisk">*</div>
            <ul class="contactinfo1">
                <li>Importador Bacco S.A</li>
                <li>Edificio WTC</li>
                <li>Local 13 - Planta Baja Marbella Calle 53, Panama City, Panama</li>
                <li>Monday to Friday, 8:00 am to 6:00 pm</li>
            </ul>
            <!--<div class="email">
                Indivizzo Email
                <input type="text">
                Messaggio
                <input type="text">
                <span class="submit">Submit</span>
            </div>-->
            <div class="contactinfo2">
                <pre>(507)-264-6820     info@baccoimporta.com
                </pre>
            </div>
        </div>
    </div>

</div><div id="feedly-mini" title="feedly Mini tookit"></div>
    <div id="sign-box">
        <img class="closepic" src="./image/close.jpg">
        <div id="sign-switch-panel">
            <div id="sign-in">SIGN IN</div>
            <div id="sign-line">|</div>
            <div id="sign-up">SIGN UP</div>
            <div class="clear"></div>
        </div>
        <div id="sign-form">
            <div id="sign-info">
                <div id="sign-up-entries">
                    <div id="sign-e-mail">E-MAIL ADDRESS</div>
                    <div id="sign-password">PASSWORD</div>
                    <div id="sign-password-confirm">PASSWORD CONFIRM</div>
                </div>
                <div id="sign-up-inputs">
                    <input type="text"/>
                    <input type="password"/>
                    <input id="sign-passwd-confirm" type="password"/>
                </div>
                <div id="sign-in-entries">
                    <div id="sign-e-mail">E-MAIL ADDRESS</div>
                    <div id="sign-password">PASSWORD</div>
                </div>
                <div id="sign-in-inputs">
                    <input type="text"/>
                    <input type="password"/>
                </div>
                <div class="clear"></div>
            </div>
            <div id="sign-submit">
                SIGN IN
            </div>
            <div class="sign-alert" id="loginfail">
                wrong account, please try again
            </div>
            <div class="sign-alert" id="pwdnotmatch">
                passwords do no match, please check
            </div>
            <div class="sign-alert" id="invalidemail">
                invalid email address, only alphabets . - _ @ are allowed
            </div>
            <div class="sign-alert" id="wrongaccount">
                wron email address or password, please try again
            </div>
        </div>
    </div>
</body><div></div></html>