<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Importadora Bacco</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/product.css" type="text/css">
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery.smooth-scroll.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/general.js"></script>
</head>
<body>
    <div id="pbanner">
        <div id="toppanel"><span id="sign">log in</span><span id="username"></span><span id="logout">log out</span></span> <span id="cart">cart</span></div>
        <ul class="nav">
            <li class="leftli"><a href="/home">HOME</a></li>
            <li class="rightli"><a>CONTACT US</a></li>
            <ul class="nav2">
                <li class="leftli"><a href="/product?catId=0">PRODUCTS</a></li>
                <li class="rightli"><a>ABOUT</a></li>
            </ul>
            <li class="clear"></li>
        </ul>
        <div class="ptitle">W I N E  & F O O D</div>
        <!--<div class="wrapc">
        <ul class="categories">
            <li><a>Olio di Semi</a></li>
            <li>|</li>
            <li><a>Formaggi</a></li>
            <li>|</li>
            <li><a>Pomodori</a></li>
            <li>|</li>
            <li><a>Specialita</a></li>
            <li>|</li>
            <li><a>Aceti</a></li>
            <li>|</li>
            <li><a>Olio di Oliva</a></li>
            <li>|</li>
            <li><a>Pasta</a></li>
            <li>|</li>
            <li><a>Vino Bianco</a></li>
            <li>|</li>
            <li><a>Vino Rosso</a></li>
            <div class="clear"></div>
        </ul>
        </div>-->
    </div>
    <div id="pcontent">
        <div class="panel">
            <div class="pselection"></div>
            <img class="arrow" src="/image/arrow.png"/>
            <div></div>
            <ul class="categories">
                <li data-catId="1"><a>Olio di Semi</a></li>
                <li>|</li>
                <li data-catId="2"><a>Formaggi</a></li>
                <li>|</li>
                <li data-catId="3"><a>Pomodori</a></li>
                <li>|</li>
                <li data-catId="4"><a>Specialita</a></li>
                <li>|</li>
                <li data-catId="5"><a>Aceti</a></li>
                <li>|</li>
                <li data-catId="6"><a>Olio di Oliva</a></li>
                <li>|</li>
                <li data-catId="7"><a>Pasta</a></li>
                <li>|</li>
                <li data-catId="8"><a>Vino Bianco</a></li>
                <li>|</li>
                <li data-catId="9"><a>Vino Rosso</a></li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <div id="pcontact">
        <div class="wrap">
            <div class="wrap2">
                <div class="contact">CONTACT US</div>
                <div class="asterisk">*</div>
                <ul class="contactinfo1">
                    <li>Importador Bacco S.A</li>
                    <li>Edificio WTC</li>
                    <li>Local 13 - Planta Baja Marbella Calle 53, Panama City, Panama</li>
                    <li>Monday to Friday, 8:00 am to 6:00 pm</li>
                </ul>
                <!--<div class="email">
                    Indivizzo Email
                    <input type="text"/>
                    Messaggio
                    <input type="text"/>
                    <span class="submit">Submit</span>
                </div>-->
                <div class="contactinfo2">
                    <pre>(507)-264-6820     info@baccoimporta.com
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <div id="popup-detail">
        <div id="product-left">
            <img id="product-big-image" src="./image/demowine.png"/>
            <div id="product-cart-panel">
                <div id="product-price">PRICE: <span></span></div>
                <div id="add-to-cart">Add to Cart</div>
                <div id="qty-control">
                    <img src="./image/add-qty.png"/>
                    <div id="qty-number"></div>
                    <img src="./image/deduct-qty.png"/>
                </div>
                <div id="qty">Qty : </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="product-detail">
            <div id="product-name"></div>
            <div id="product-desc"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="sign-box">
        <div id="sign-switch-panel">
            <div id="sign-in">SIGN IN</div>
            <div id="sign-line">|</div>
            <div id="sign-up">SIGN UP</div>
            <div class="clear"></div>
        </div>
        <div id="sign-form">
            <div id="sign-info">
                <div id="sign-up-entries">
                    <div id="sign-e-mail">E-MAIL ADDRESS</div>
                    <div id="sign-password">PASSWORD</div>
                    <div id="sign-password-confirm">PASSWORD CONFIRM</div>
                </div>
                <div id="sign-up-inputs">
                    <input type="text"/>
                    <input type="password"/>
                    <input id="sign-passwd-confirm" type="password"/>
                </div>
                <div id="sign-in-entries">
                    <div id="sign-e-mail">E-MAIL ADDRESS</div>
                    <div id="sign-password">PASSWORD</div>
                </div>
                <div id="sign-in-inputs">
                    <input type="text"/>
                    <input type="password"/>
                </div>
                <div class="clear"></div>
            </div>
            <div id="sign-submit">
                SIGN IN
            </div>
            <div class="sign-alert" id="loginfail">
                wrong account, please try again
            </div>
            <div class="sign-alert" id="pwdnotmatch">
                passwords do no match, please check
            </div>
            <div class="sign-alert" id="invalidemail">
                invalid email address, only alphabets . - _ @ are allowed
            </div>
            <div class="sign-alert" id="wrongaccount">
                wron email address or password, please try again
            </div>
        </div>
    </div>
</body>
</html>
