Hello,
<pre>
This is a message from Importadora Bacco.
There is an new order.
</pre>

Order Info:
<pre>
    Name: ${order.order.name}
    Mobile: ${order.order.mobile}
    Email: ${order.order.email}
    Address: ${order.order.address1}
    City: ${order.order.city}
    Zip Code: ${order.order.zipCode}
    Commit Time: ${order.order.createTime}
</pre>

<div class="products">
    <ul>
        #foreach($product in ${order.products})
            <img src="${host}/image/demowine.png"/>
            <li>
                Item: ${product.productName}<br/>
                Quantity: ${product.quantity}<br/>
            </li>
        #end
    </ul>
</div>

<pre>
※ Please do not reply to this email address. For support related services, please refer to the
help page at <a href="http://www.importadorabacco.com">www.importadorabacco.com</a>
for details. Thank you.
</pre>
